<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>University of Kakulta Portal</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,700|IBM+Plex+Sans:600" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('index/css/style.css') }}">
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">

<div class="body-wrap boxed-container">
    <header class="site-header">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_index') }}">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class=" d-flex position-relative collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ path('app_student')}}">Student Portal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ path('app_instructor')}}">Instructor Portal</a>
                            </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_login')}}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_register')}}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="site-header-inner">
                <div class="brand header-brand">
                    <h1 class="m-0">
                        <a href="#">
                            <img class="header-logo-image asset-light" src="{{ asset('index/images/logo-light.svg') }}" alt="Logo">
                            <img class="header-logo-image asset-dark" src="{{ asset('index/images/logo-dark.svg') }}" alt="Logo">
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <div class="hero-inner">
                    <div class="hero-copy">
                        <h1 class="hero-title mt-0">University of Kakulta</h1>
                        <p class="hero-paragraph">School Portal</p>
                        <div class="hero-cta">
                            <div class="lights-toggle">
                                <input id="lights-toggle" type="checkbox" name="lights-toggle" class="switch" checked="checked">
                                <label for="lights-toggle" class="text-xs"><span>Turn me <span class="label-text">dark</span></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="hero-media">
                        <div class="header-illustration">
                            <img class="header-illustration-image asset-light" src="{{ asset('index/images/header-illustration-light.svg') }}" alt="Header illustration">
                            <img class="header-illustration-image asset-dark" src="{{ asset('index/images/header-illustration-dark.svg') }}" alt="Header illustration">
                        </div>
                        <div class="hero-media-illustration">
                            <img class="hero-media-illustration-image asset-light" src="{{ asset('index/images/hero-media-illustration-light.svg') }}" alt="Hero media illustration">
                            <img class="hero-media-illustration-image asset-dark" src="{{ asset('index/images/hero-media-illustration-dark.svg') }}" alt="Hero media illustration">
                        </div>
                        <div class="hero-media-container">
                            <img class="hero-media-image asset-light" src="{{ asset('index/images/hero-media-light.svg') }}" alt="Hero media">
                            <img class="hero-media-image asset-dark" src="{{ asset('index/images/hero-media-dark.svg') }}" alt="Hero media">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<script src="{{ asset('index/js/main.min.js') }}"></script>
</body>
</html>
